Flask==0.6
Jinja2==2.5.5
Werkzeug==0.6.2
-e git+https://github.com/andymccurdy/redis-py.git@52f17891a5523505ea1c4881bffc650ad97035bf#egg=redis-2.0.1-py2.6-dev
wsgiref==0.1.2
Flask-WTF==0.3.4
WTForms==0.6.1
