html {
  background:rgb(250, 250, 250);
  background: -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.5, rgb(250,250,250)),
      color-stop(1, rgb(220,220,220))
  );
  background: -moz-linear-gradient(
      center top,
      rgb(255,255,255) 0%,
      rgb(250,250,250) 50%,
      rgb(220,220,220) 100%
  );
  -moz-background-size:100% 100%;
  -o-background-size:100% 100%;
  -webkit-background-size:100% 100%;
  background-size:100% 100%;
  height:100%;
}

body {
  font:12px/16px "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  margin:0 auto;
  width:1048px;
}

h1 {
  color:rgb(133, 27, 31);
  font-size:18px;
  font-weight:bold;
  line-height:18px;
}

a {
  color:rgb(133, 27, 31);
  text-decoration:none;
}
a:hover { text-decoration:underline; }

.errors {
  list-style:none;
}
  .errors li {
    background:rgb(133, 27, 31);
    color: #fff;
    margin-top:10px;
    padding:10px;
  }

#masthead {
  overflow:hidden;
  padding:10px;
  -moz-box-shadow:0 2px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.4);
  box-shadow:0 2px 4px rgba(0,0,0,0.4);
}
  #logo {
    background:url('../img/logo-small.png') top left no-repeat;
    background-size: 100% 100%;
    width:179px;
    height:63px;
    margin-right:20px;
    float:left;
    text-indent:-9999px;
  }
  #masthead aside {
    float:right;
  }
    #masthead aside dl {
      overflow:hidden;
    }
      #masthead aside dt {
        float:left;
        font-weight:bold;
        margin-right:10px;
        text-align:right;
        width:50px;
      }

#switch_db {
  background:rgb(204, 204, 204);
  background: -webkit-gradient(
    linear, left top, left bottom,
    color-stop(0, rgb(150, 150, 150)),
    color-stop(0.15, rgb(204, 204, 204)),
    color-stop(1, rgb(204, 204, 204))
  );
  background: -moz-linear-gradient(
      center top,
      rgb(150,150,150) 0%,
      rgb(204,204,204) 15%,
      rgb(204,204,204) 100%
  );
  padding:10px;
  -moz-box-shadow:0 2px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.4);
  box-shadow:0 2px 4px rgba(0,0,0,0.4);
}
  #switch_db fieldset {
    overflow:hidden;
  }
  #switch_db input {
    vertical-align:baseline;
    width:5em;
  }
  #switch_db label {
    color:rgb(133, 27, 31);
    font-size:18px;
    font-weight:bold;
    line-height:18px;
    padding-right:10px;
    vertical-align:middle;
  }

  #switch_db #new_key {
    float:right;
  }

#flashes {
  background:#999;
  color:#fff;
  list-style:none;
  -moz-box-shadow:0 2px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.4);
  box-shadow:0 2px 4px rgba(0,0,0,0.4);
}
  #flashes li { padding:5px 10px; }

#left {
  float:left;
  margin:20px 2% 20px 0;
  width:48%;
}
  #keyheader {
    margin-bottom:10px;
    overflow:hidden;
  }
  #keyheader h1 {
    float:left;
    margin-right:10px;
  }
  .filterform {
  }
    .filterform input[type=search] {
      width:125px;
    }
    #key_controls {
      float:right;
    }
    #refresh_keys {
      background:url('../img/loop.png') center center no-repeat;
      display:block;
      float:left;
      height:20px;
      width:12px;
      text-indent:-99999px;
    }
    #add_key,
    .add_member,
    .add_member_table {
      background:url('../img/add.png') center center no-repeat;
      display:block;
      float:left;
      height:20px;
      margin-right:10px;
      width:12px;
      text-indent:-99999px;
    }
    #members {
      position:relative;
    }
      #members table {
        width:100%;
      }
    .add_member,
    .add_member_table {
      bottom:10px;
      position:absolute;
      right:-30px;
    }
  #keylist {
    border:1px solid rgba(30,30,30,0.5);
    clear:both;
    height:400px;
    list-style:none;
    overflow:auto;
  }
    #keylist li {
      padding:2px 5px;
    }
    #keylist li:nth-child(odd) {
      background:#fff;
    }
    #keylist li:nth-child(even) {
      background:rgb(227, 240, 247);
    }
    #keylist li.current {
      background:rgb(246, 247, 205);
    }
      #keylist li.current a { font-weight:bold; }
      #keylist li a {
        color:#333;
        display:block;
        text-decoration:none;
        word-break:break-all;
      }
    #keylist li.paginator {
      cursor:pointer;
      font-style:italic;
      text-align:center;
    }

#cancel {
  background:url('../img/cancel.png') center center no-repeat;
  display:inline;
  float:right;
  height:32px;
  text-indent:-99999px;
  width:32px;
}

#right {
  float:left;
  margin:20px 0;
  width:50%;
}
  #key h2 {
    font-weight:normal;
  }
    #key h2 b { font-weight:bold; }

  textarea[name=value] {
    border:1px solid rgba(30,30,30,0.5);
    width:100%;
  }

  #controls {
    position:relative;
    width:100%;
  }
  input[type=submit] {
    background:url('../img/check.png') center center no-repeat;
    border:none;
    height:26px;
    text-indent:-99999px;
    width:32px;
  }

  #refresh, #delete {
    background:url('../img/reload.png') center center no-repeat;
    display:block;
    height:28px;
    position:absolute;
    right:0;
    text-indent:-99999px;
    width:24px;
  }

  #delete {
    background:url('../img/delete.png') center center no-repeat;
    left:50%;
    margin-left:-14px;
    width:28px;
  }

  #setup_form, #new_key_form {
    margin:10px 0;
  }
    #setup_form fieldset, #new_key_form fieldset {
      font-weight:bold;
      margin-bottom:10px;
    }
    #setup_form input[type=text],
    #setup_form input[type=password],
    #new_key_form input[type=text],
    #new_key_form input[type=number] {
      border:1px solid rgba(30,30,30,0.5);
      padding:1em 2%;
      width:96%;
    }

    input.optional,
    textarea.optional {
      color:#666;
      border-color:rgba(150, 150, 150, 0.5) !important;
    }

footer {
  clear:both;
  color:rgba(0,0,0,0.75);
  margin:20px 0;
  text-align:center;
  text-transform:uppercase;
}
  footer a {
    color:rgb(133, 27, 31);
    text-decoration:none;
  }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(200, 200, 200, 0.5);
  -webkit-border-radius: 6px;
}


