{% extends "layout.html" %}

{% block left %}
<div class="well">
<script type="text/x-handlebars">{% raw %}
    {{view Redbeard.SearchTextField placeholder="Key name" valueBinding="Redbeard.keysController.key_name"}}
    <button {{action "loadKeys" target="Redbeard.keysController"}}>Go!</button>

    <ul class="nav nav-list" id="keys-list">
        <li class="nav-header">Keys</li>
        {{#each Redbeard.keysController}}
            {{#view Redbeard.keyView contentBinding="this"}}
                {{#with content}}
                <li>{{id}}</li>
                {{/with}}
            {{/view}}
        {{/each}}
    </ul>
{% endraw %}</script>
</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}