<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Redbeard</title>
	
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="flashes">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
	<h1>{{ key }}</h1>
	<form action="{{ url_for('save', key=key) }}" method="post">
		<textarea name="value" cols="80" rows="20">{{ output }}</textarea>
		<br>
		<input type="submit" value="save">
	</form>
	<a href="{{ url_for('index') }}">back</a>
</body>
</html>
