<ul id="flashes"></ul>

<article>
	<header>
		<h1>{{ key }}</h1>
		<h2>{{ rtype }}</h2>
	</header>
	<form action="{{ url_for('save', key=key) }}" method="post" 
		id="key">
		<textarea name="value" cols="60" rows="20">{{ output }}</textarea>
		<br>
		<input type="submit" value="save">
	</form>
</article>

<script>
	$(function() {
    	$("#key").submit(function(e) {
        	e.preventDefault();

			var link = $(this).attr("action"),
				flashes = $("#flashes");

			flashes.empty();

			$.ajax({
				url: link,
				type: "POST",
				data: {
					"value": $(this).find("textarea").val()
				},
				dataType: "json",
				success: function(data) {
					console.log(data);
					$(this).find("textarea").val(data['value']);
					$("<li>").text(data['flash']).appendTo(flashes);
				}
			});
    	});
	});
</script>
