<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Redbeard{% endblock %}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/html5reset-1.6.1.css') }}" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.confirm.css') }}" media="screen" charset="utf-8">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-1.6.min.js') }}"></script>
</head>
<body>
	<header id="masthead">
	{% block header %}
		<a href="{{ url_for('index') }}">
			<h1 id="logo">RedBeard</h1>
		</a>
		{% if session %}
		<aside>
			<header>
				<a href="{{ url_for('setup') }}">
					<h2>Redis connection info</h2>
				</a>
			</header>
			<dl>
				<dt>Host:</dt>
				<dd>{{ session.redis_host }}</dd>
				<dt>Port:</dt>
				<dd>{{ session.redis_port }}</dd>
				<dt>DB:</dt>
				<dd>{{ session.redis_db }}</dd>
				<dt>DB Size:</dt>
				<dd>{{ db_size }} keys</dd>
			</dl>
		</aside>
		{% endif %}
	{% endblock %}
	</header>

	<form action="{{ url_for('change_db') }}" method="post" id="switch_db">
		<fieldset>
			<label for="id_redis_db">Current Redis DB:</label>
			<input type="number" name="redis_db" id="id_redis_db" value="{{ session.redis_db }}">
		</fieldset>
	</form>

	<ul id="flashes">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        	{% for message in messages %}
        	<li>{{ message }}</li>
        	{% endfor %}
        {% endif %}
    {% endwith %}
	</ul>
			

	<div id="left">
		{% block leftblock %}{% endblock %}
	</div>

	<div id="right">
		{% block content %}{% endblock %}
	</div>

	<footer>
		<p>&copy; <a href="http://brack3t.com">Brack3t</a>. Design by veddermatic. Icons from <a 
				href="http://somerandomdude.com/projects/iconic/">Iconic</a>.</p>
	</footer>
	<script src="{{ url_for('static', filename='js/jquery.confirm.js') }}"></script>
	{% block extra_scripts %}{% endblock %}
</body>
</html>
